
/*css for cart*/
.cart{
  width: 100%
  height: 200px;
  }

#price{
  color: purple;
  float: right;

}
#select{
  color: purple;
  float: right;
  /*padding: 30px;*/
}

.prices{
  color: blue;
}


/* css for menu images */
    .products:hover {
        cursor: default;
        transform: translate(20px, 10px);
        transition: all 0.40s ease-in-out 0s;
    }


    .products:hover {
    cursor: default;
    transition: all 0.40s ease-in-out 0s;
}

.caption {
    height: 130px;
    overflow: hidden;
}

.caption h4 {
    white-space: nowrap;
}

.products img {
    width: 100%;
    height: 250px;
}


.products {
    padding: 0;
}

.products.caption-full {
    padding: 9px;
    color: #333;
}

footer {
    margin: 50px 0;
}

.headers{
  color: #8000ff;
  text-decoration: underline;
  text-align: center;
}

/* style for rating stars */
.rating {
  border: none;
  float: left;
}

.rating > input { display: none; }

.rating > label {
  color: #ddd;
  float: right;
}

.rating > label:before {
  content: "\2605";
  margin: 5px;
  font-size: 3em;
  display: inline-block;
}

.rating > input:checked ~ label, /* show gold star when clicked */
.rating:not(:checked) > label:hover, /* hover current star */
.rating:not(:checked) > label:hover ~ label { color: #FFD700;  } /* hover previous stars in list */

.rating > input:checked + label:hover, /* hover current star when changing rating */
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label, /* lighten current selection */
.rating > input:checked ~ label:hover ~ label { color: #FFED85;  }
